.secao-a-background{
	background-color:#ebeff4;
	padding-top:30px;

	.row{
		margin-bottom:30px;

		.secao-a {
			border-radius:5px;
			background-color:#FFFFFF;

			.desc{
				float:left;
				width:35%;
			}

			.foto{
				diplay:block;
				float:right;
				width:65%;
			}

			img.home-image{
				border-left:15px solid #ebeff4;
			}

			.desc{
				text-align:left;
				padding:30px 25px;

				h1{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				h2{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				a{
					margin-top:30px;
					display:inline-block;
					color:#6691ff;
				}
				a:hover{
					color:#b2c8ff;
				}
			}
		}
	}
}

.secao-b-background{
	background-color:#FFFFFF;
	padding-top:30px;

	.row{
		margin-bottom:30px;

		.secao-b {
			border-radius:5px;
			background-color:#ebeff4;

			.desc{
				float:right;
				width:35%;
			}

			.foto{
				diplay:block;
				float:left;
				width:65%;
			}

			img.home-image{
				border-right:15px solid #FFFFFF;
			}

			.desc{
				text-align:left;
				padding:30px 25px;

				h2{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				a{
					margin-top:30px;
					display:inline-block;
					color:#6691ff;
				}
				a:hover{
					color:#b2c8ff;
				}
			}
		}
	}
}

.secao-a-background, .secao-b-background{
	.foto{
		position:relative;

		.home-image{
			opacity: 1;
			transition: 1.5s ease;
			backface-visibility: hidden;
		}

		.middle {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%)
		}

		.text{
			width:30px;
			height:30px;
			display:block;

			img{
				opacity: 0.8;
			}
		}

	}

	.foto:hover .middle{
		opacity: 1;
	}
	.foto:hover .home-image{
		opacity: 0.3;
	}

}

#parceiros{
	padding:40px 0;
	text-align:left;
	background-color:#FFFFFF;

	h3{
		display:inline-block;
		padding-bottom:10px;
		border-bottom:1px solid #F0F0F0;
		margin-bottom:10px;
	}

	p{
		margin-bottom:30px;
	}
}

#breadcrumbs{
	background-color:#ebeff4;
	text-align:left;
	padding:15px 0;
}

#elevadores{
	h1{
		color:#226ffd;
		text-align:left;
	}

	.audio-desc{
		color:#226ffd;
	}

	.titulo{
		margin-top:25px;
		margin-bottom:25px;
	}

	#myTabs{
		border-top:1px solid #226ffd;
		border-bottom:1px solid #226ffd;
		list-style-type: none;
		padding:0;

		li{
			float:left;
			width:16.66%;

			a{
				color:#226ffd;
				display:block;
				padding:15px 0px;
			}
		}
	}
}

@media (max-width: 992px) {
	.secao-a {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		.desc{
			float:none !important;
			order: 2;
			flex: 1 100%;
		}
		.foto{
			float:none !important;
			order: 1;
			flex: 1 100%;
		}
		img{
			border-left:0 !important;
		}
	}

	.secao-b {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		.desc{
			float:none !important;
			order: 2;
			flex: 1 100%;
		}
		.foto{
			float:none !important;
			order: 1;
			flex: 1 100%;
		}
		img{
			border-right:0 !important;
		}
	}
}


