.secao-a-background{
	background-color:#ebeff4;
	padding-top:30px;

	.row{
		margin-bottom:30px;

		.secao-a {
			border-radius:5px;
			background-color:#FFFFFF;

			.desc{
				float:left;
				width:35%;
			}

			.foto{
				display:block;
				float:right;
				width:65%;
			}

			img.home-image{
				border-left:15px solid #ebeff4;
			}

			.desc{
				text-align:left;
				padding:30px 25px;

				h1{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				h2{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				a{
					margin-top:30px;
					display:inline-block;
					color:#6691ff;
				}
				a:hover{
					color:#b2c8ff;
				}
			}
		}
	}
}

.secao-b-background{
	background-color:#FFFFFF;
	padding-top:30px;

	.row{
		margin-bottom:30px;

		.secao-b {
			border-radius:5px;
			background-color:#ebeff4;

			.desc{
				float:right;
				width:35%;
			}

			.foto{
				diplay:block;
				float:left;
				width:65%;
			}

			img.home-image{
				border-right:15px solid #FFFFFF;
			}

			.desc{
				text-align:left;
				padding:30px 25px;

				h2{
					display:inline-block;
					padding-bottom:20px;
					border-bottom:1px solid #F0F0F0;
					margin-bottom:20px;
				}

				a{
					margin-top:30px;
					display:inline-block;
					color:#6691ff;
				}
				a:hover{
					color:#b2c8ff;
				}
			}
		}
	}
}

.secao-a-background, .secao-b-background{
	.foto{
		position:relative;

		.home-image{
			opacity: 1;
			transition: 1.5s ease;
			backface-visibility: hidden;
		}

		.middle {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%)
		}

		.text{
			width:30px;
			height:30px;
			display:block;

			img{
				opacity: 0.8;
			}
		}

	}

	.foto:hover .middle{
		opacity: 1;
	}
	.foto:hover .home-image{
		opacity: 0.3;
	}

}

#parceiros{
	padding:40px 0;
	text-align:left;
	background-color:#FFFFFF;

	h3{
		display:inline-block;
		padding-bottom:10px;
		border-bottom:1px solid #F0F0F0;
		margin-bottom:10px;
	}

	p{
		margin-bottom:30px;
	}
}

#breadcrumbs{
	background-color:#ebeff4;
	text-align:left;
	padding:15px 0;
}

#elevadores{
	.tab{
		ul{
			list-style-type:none;
			margin-bottom: 20px;

			li{
				margin: 25px 0px;
			}
			li:before{
				content: "\2713 \00a0";
				font-weight:bold;
				color:#0048ff;
			}
		}	
	}
	
	h1{
		color:#226ffd;
		text-align:left;
	}

	.audio-desc{
		color:#226ffd;
	}

	.audio{
		cursor: pointer;
	}

	.titulo{
		margin-top:25px;
		margin-bottom:20px;
	}

	#myTabs{
		border-top:1px solid #226ffd;
		border-bottom:1px solid #226ffd;
		list-style-type: none;
		padding:0;
		margin-bottom: 40px;

		li{
			float:left;
			width:16.66%;

			a{
				color:#226ffd;
				display:block;
				padding:15px 0px;
	            -webkit-transition: background-color 0.5s ease-in-out;
	            -moz-transition: background-color 0.5s ease-in-out;
	            -o-transition: background-color 0.5s ease-in-out;
	            -ms-transition: background-color 0.5s ease-in-out;    
	            transition: background-color 0.5s ease-in-out;
			}
			a:hover{
				font-weight: bold;
			}
		}

		li.active a{
			font-weight: bold;
		} 
	}

	.elevadores-img{
		.galeria{
			div{
				float:left;
				width:48%;
				cursor:pointer;

				img{
					border-radius: 6px;
				}

				img:hover{
					-webkit-filter: grayscale(100%); 
					filter: grayscale(100%);
				}
			}
			.left{
				margin-right: 4%;
				margin-bottom: 3.5%;
			}
			.right{
				margin-bottom: 3.5%;
			}
			.bot{
				margin-right: 4%;
			}

		}
		.banner{
			position: relative;

			.slider{
				div{
					border-radius: 6px;
					img{
						border-radius: 6px;
					}
				}
			}
			.slickleft{
				width: 62px;
				height: 62px;
				background-image: url(images/prev.png);
				cursor: pointer;
				z-index: 1000;
				position: absolute;
				left:30px;
				top:40%;
			}
			.slickright{
				width: 62px;
				height: 62px;
				background-image: url(images/next.png);
				cursor: pointer;
				z-index: 1000;
				position: absolute;
				right:30px;
				top:40%;
			}
		}
	
	}

	.elevadores-rel{
		margin-bottom:40px;

		.titulo{
			h2{
				color: #47a030;
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #47a030; 
				text-align: left;
				font-size: 21px;
			}
		}

		.conteudo{
			img{
				border-radius:6px;
			}

			p{
				background-color:#ebeff4;
				color: #47a030;
				padding:10px 30px;
				margin-top: 5px;
				border-radius:6px;
				margin-bottom: 0;
			}
		}
	}

	.elevadores-desc{

		.audio-desc{
			color:#226ffd;
		}

		.audio{
			cursor: pointer;
		}

		.titulo{
			border-top:1px solid #226ffd;
			border-bottom:1px solid #226ffd;
			padding:15px 0;
			margin-bottom: 20px;
			h2{
				color:#226ffd;
				text-align:left;
				font-size: 21px;
			}
		}
		.conteudo{
			text-align: left;
			h5{
				color: #226ffd;
				margin-bottom: 10px;
				margin-top: 10px;
				display: inline-block;
			}

			p{
				text-align: left;
			}		
			.saiba-leis{
				color: #226ffd;
				border-bottom:1px solid #226ffd;
				font-style: italic;
				display: inline-block;
				text-align: left;
			}
		}
	}

}

@media (max-width: 992px) {
	.secao-a {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		.desc{
			float:none !important;
			order: 2;
			flex: 1 100%;
		}
		.foto{
			float:none !important;
			order: 1;
			flex: 1 100%;
		}
		img{
			border-left:0 !important;
		}
	}

	.secao-b {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;

		.desc{
			float:none !important;
			order: 2;
			flex: 1 100%;
		}
		.foto{
			float:none !important;
			order: 1;
			flex: 1 100%;
		}
		img{
			border-right:0 !important;
		}
	}
}


