#topo{
    background-color:black;
}

nav#principal{
    background: #3876ba; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#354899, #3a70b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#354899, #3a70b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#354899, #3a70b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left,#354899, #3a70b6); /* Standard syntax */
    padding:10px 0;
}

nav#secundario{
    background-color:#FFFFFF;
    div.menu-header{
        a{
            display:block;
            float:right;
            padding: 10px 30px;
            color:#343841;
            font-size:16px;

        }

    }
}

nav#secundario.fixar {
    padding:0 !important;
    position:fixed !important;
    z-index: 1000 !important;
    margin-top: 0px !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: 0px 1px 1px #ececec;
}

.search-form{
    margin-right:30px;
    margin-top:60px;
    .pesquisar-lupa{
        width:45px;
        height:40px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
        background-color:#FFFFFF;
        display:block;
        float:right;
        img{
            float:right;
            margin-top:7px;
        }
    }
    .pesquisar-input{
        border:0;
        padding:10px 20px;
        display:block;
        float:right;
        width:70%;
    }
    .pesquisar-submit{
        border:0;
        padding:10px 25px;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
        display:block;
        float:right;
        font-weight:bold;
    }
}

#crossfade {
    position:relative;
    height:164px;
    width:292px;
    display:block;
}
#crossfade img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
}
 
#crossfade img.top:hover {
    opacity:0;
}

@media (max-width: 768px) {  
    div.menu-responsivo{
        width: 50px;
        text-align: left;
        display: block;
        padding: 10px;
    }
    div.menu-header{
        display: none;
    }
}

@media (min-width: 768px) { 
    div.menu-responsivo{
        display: none;
    }
    ul.menu-header{
        display: block;
    }   
}
